/*Color Variables */
$primary-color: #53443b;
$secondery-color: #c39a6b;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";

// endbower
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.text-align-center {
    text-align: center;
}

.no-gutter[class*="-6"] {
    padding: 0;
}

/* Global */

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header, .marketing {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Hacks */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
    zoom: 1;
}

/* IE7 */

/* Page Container */
.container-fluid {
    padding: 0;
}

/* Custom page footer */

footer {
    background-color: $primary-color;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    h3 {
        color: white;
        font-weight: bold;
    }
    ul {
        padding: 0;
    }
    li {
        list-style-type: none;
    }
    li a {
        color: $secondery-color;
        &:hover {
            color: desaturate($secondery-color, 10%);
        }
    }
    .ben-footer-newsletter label {
        color: white;
    }
    .ben-footer-contact {
        div:nth-child(odd) p {
            color: $secondery-color;
            font-weight: bold;
        }
        .ben-social-icons a i {
            color: white;
            font-size: 18px;
            border: 2px solid white;
            border-radius: 60px;
            width: 35px;
            height: 35px;
            line-height: 32px;
            text-align: center;
        }
        div:nth-child(even) p {
            color: white;
            &.ben-hot-line {
                font-size: 34px;
                line-height: 34px;
                color: $secondery-color;
                font-weight: bold;
            }
            a {
                color: $secondery-color;
            }
        }
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron {
    background: url("../images/slide01.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;
    margin-bottom: 0;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/*  Main Menu */

.ben-menu {
    padding: 15px;
    color: #fff;
    background: #56483f;
    .ben-menu-list li {
        list-style: none;
        float: left;
        margin: 0 20px 0 0;
        a {
            display: block;
            color: #fff;
            padding: 5px;
            transition: all ease 0.3s;
            border-radius: 10px;
            &:hover {
                text-decoration: none;
                background: #fff;
                color: #56483f;
            }
        }
    }
}

/* Benchmark Home Page */
.ben-services-items {
    margin-top: 20px;
    .item {
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: #eee;
        padding: 0;
        a {
            padding: 70px;
            display: block;
            color: #56483F;
            &:hover {
                background: #eee;
            }
        }
    }
    .item-noright-border {
        border-right: 0;
    }
    .item-nobottom-border {
        border-bottom: 0;
    }
}

.ben-about {
    background: url("../images/backgrounds/about-bg.jpg") #C49A6C;
    padding: 130px 0;
    color: #FFF;
}

.ben-services {
    margin: 50px 0;
    .service {
        .glyphicon {
            border-radius: 90px;
            background: #C49A6C;
            padding: 30px;
            transition: background ease 0.3s;
            &:hover {
                background: #53443B;
                text-decoration: none;
            }
        }
    }
}

.ben-sell {
    background: url("../images/backgrounds/sell-bg.jpg") #53443B;
    padding: 30px;
    color: #FFF;
    text-align: left;
    h1 {
        margin-top: 0;
    }
    .btn {
        margin-top: 15px;
    }
}

.ben-partners {
    .partner {
        padding: 0;
        .ben-partner-img {
            width: 100%;
            filter: gray;
            -webkit-filter: grayscale(100%);
        }
        &:hover, &:focus, &:active {
            filter: none;
            -webkit-filter: grayscale(0%);
        }
    }
}

/* End of Benchmark Home Page */

.inner-ben-logo-wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 30;
    width: 150px;
}

/* Benchmark Map Select */

.egyptMap {
    background: #A4BEDE;
}

.egyptMap, .ben-links {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.google-map-contact {
    .angular-google-map-container {
        height: 300px;
        z-index: 10;
    }
}

.benchmark-section {
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 19px;
}

.search-map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    .search-results-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 20;
        width: 100%;
        height: 70%;
        transition-property: top, bottom;
        transition-duration: 0.5s;
        .btn {
            padding: 17px 10px;
        }
        .search-results-tmpl {
            background: #fff;
            bottom: 0;
            height: 100%;
            .search-results-content {
                .search-loader {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: #FFF;
                    z-index: 5;
                    padding: 10% 40%;
                    text-align: center;
                    &.hideLoader {
                        display: none;
                    }
                }
                .search-filter {
                    margin: 10px 0;
                    .open-filters {
                        padding: 5px;
                    }
                    .showFilter {
                        display: block !important;
                        margin-top: 20px;
                        button.btn-default {
                            padding: 5px 10px;
                        }
                    }
                    .search-filter-range-slider-wrapper {
                        width: 100%;
                        display: inline-block;
                        position: absolute;
                        top: 0px;
                        left: 0;
                        background: #FFF;
                        padding: 15px 10px;
                        z-index: -1;
                        border-radius: 10px 10px 0 0;
                        transition: all ease 0.5s;
                        .search-filter-range-slider {
                            width: 90%;
                            margin: 0 15px;
                        }
                        &.onFocus {
                            transition: all ease 0.5s;
                            top: -60px;
                        }
                        &.onBlur {
                            transition: all ease 0.5s;
                            top: 0px;
                        }
                    }
                }
                .search-results-msg {}
                .search-results {
                    overflow-y: hidden;
                    position: relative;
                    .search-list {
                        list-style: none;
                        .search-results-item {
                            margin-bottom: 10px;
                            .search-results-item-wrapper {
                                a {
                                    text-decoration: none;
                                }
                                .search-results-item-image {
                                    overflow: hidden;
                                    position: relative;
                                    img {
                                        transition: all ease 0.3s;
                                        z-index: 5;
                                    }
                                    .search-results-item-price {
                                        position: absolute;
                                        bottom: 10px;
                                        left: 0;
                                        padding: 10px;
                                        background: rgba(0, 0, 0, 0.4);
                                        color: #FFF;
                                        z-index: 10;
                                        p {
                                            margin: 0;
                                            position: relative;
                                            padding-right: 20px;
                                            span {
                                                font-size: 10px;
                                                position: absolute;
                                                top: 0;
                                                right: 0;
                                            }
                                        }
                                    }
                                    .search-results-item-like {
                                        position: absolute;
                                        top: 10px;
                                        right: 10px;
                                        z-index: 10;
                                        i {
                                            font-size: 20px;
                                            color: #BC8E59;
                                            transition: all ease 0.3s;
                                            &:hover {
                                                color: rgba(97, 81, 71, 1);
                                                transform: scale(1.2, 1.2);
                                            }
                                        }
                                    }
                                }
                                .search-results-item-footer {
                                    padding: 5px 10px;
                                    border: 1px solid #eee;
                                    background: #ededed;
                                    .search-results-item-title {}
                                }
                                &:hover .search-results-item-footer {
                                    background: #fff;
                                }
                                &:hover .search-results-item-image img {
                                    transform: scale(1.2, 1.2);
                                }
                            }
                        }
                    }
                }
                .search-results-loadmore {
                    display: block;
                    background: rgba(97, 81, 71, 0.5);
                    color: #FFF;
                    text-align: center;
                    padding: 10px;
                    transition: all ease 0.3s;
                    cursor: pointer;
                    &:hover {
                        background: #C39A6B;
                    }
                }
            }
        }
        &.hideBox {
            bottom: -70% !important;
        }
        .search-result-text {
            margin-top: 0px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .animated-input {
            display: inline-block;
            margin: 0px auto;
            padding: 0;
            position: relative;
            &.fix-padding {
                padding: 0 10px 0 0;
            }
            input, select {
                -webkit-appearance: none;
                appearance: none;
                padding: 20px 15px 0;
                height: 50px;
                transition: all ease 0.3s;
                width: 100%;
            }
            .animated-input-label {
                padding: 5px 10px;
                font-weight: normal;
                font-size: 12px;
                color: #999;
                position: absolute;
                left: 0;
                top: 0;
                -webkit-transform: translateX(0);
                -ms-transform: translateX(0);
                transform: translateX(0);
                -webkit-transition: all 0.2s ease-in;
                transition: all 0.2s ease-in;
            }
        }
    }
    .side-nav-wrapper {
        position: relative;
        top: 0;
        right: 0;
        height: 100%;
        transition-property: left, right;
        transition-duration: 0.5s;
        .side-nav-tmpl {
            position: absolute;
            height: 100%;
            width: 100%;
            right: 0;
            top: 0;
            z-index: 15;
            padding: 10px;
            background: #fff;
            .side-nav-content {}
        }
        &.hideNav {
            right: -260px !important;
        }
    }
    .angular-google-map-container {
        height: 100%;
        z-index: 10;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all ease 0.3s;
        &.resizeMap {
            height: 30%;
        }
    }
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    .header, .marketing {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

@media (min-width: 768px) {
    .affix-content .container {
        width: 700px;
    }
    html, body {
        background-color: #f8f8f8;
        height: 100%;
    }
    .affix-content .container .page-header {
        margin-top: 0;
    }
    .affix-sidebar {
        padding-right: 0;
        font-size: small;
        padding-left: 0;
    }
    .affix-row, .affix-container, .affix-content {
        height: 100%;
        overflow: scroll;
        margin-left: 0;
        margin-right: 0;
    }
    .affix-content {
        background-color: white;
    }
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar {
        border-radius: 0;
        margin-bottom: 0;
        border: 0;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

@media (min-width: 769px) {
    .affix-content .container {
        width: 600px;
    }
    .affix-content .container .page-header {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .affix-content .container {
        width: 900px;
    }
    .affix-content .container .page-header {
        margin-top: 0;
    }
}

@media (min-width: 1220px) {
    .affix-row {
        overflow: hidden;
    }
    .affix-content {
        overflow: auto;
    }
    .affix-content .container {
        width: 1000px;
    }
    .affix-content .container .page-header {
        margin-top: 0;
    }
    .affix-content {
        padding-right: 30px;
        padding-left: 30px;
    }
    .affix-title {
        border-bottom: 1px solid #ecf0f1;
        padding-bottom: 10px;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-collapse {
        padding: 0;
    }
    .sidebar-nav .navbar li a:hover {
        background-color: #428bca;
        color: white;
    }
    .sidebar-nav .navbar li a > .caret {
        margin-top: 8px;
    }
}

//xs
@media (max-width: 767px) {}